.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: calc(100% / 4 - 10px);
  height: 250px;
  margin-right: 10px;
  margin-bottom: 20px;
  overflow: hidden;

  border-radius: 2px;
}
.gallery {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
img {
  display: block;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}
.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid rgb(195, 202, 202);
  border-radius: 3px;
}
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  padding-right: 2px;
  flex-wrap: wrap;
  margin-top: 5px;
  text-align: center;
}
.info-item:not(:last-child) {
  margin-right: 2px;
}
