.load-more {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  background-color: rgb(41, 116, 91);
  box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.2);
  color: white;
}
.is-visible {
  opacity: 1;
}
